<ion-header>
    <ion-navbar color="custom-red">
      <ion-title>
        Emergency Tools
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
        <ion-list>
            <ion-list-header>
               In device tool
              </ion-list-header>
            <ion-item>
              <ion-icon name="flash" item-start></ion-icon>
              <ion-label> Flash Light</ion-label>
              <ion-toggle checked="false" (ionChange)="toggleFlash()"></ion-toggle>
            </ion-item>
          </ion-list>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Play this when in :
      </ion-list-header>
      <ion-item *ngFor="let audio of audioObjs">
        {{audio.displayText}}
        <button ion-button outline item-end  icon-end  *ngIf="preLoadedAudio !== audio.alias" (tap)="playAudio(audio.alias, audio.path)"><ion-icon name="play"></ion-icon>
        </button>
        <button ion-button outline item-end icon-end  *ngIf="preLoadedAudio === audio.alias" (tap)="stopAndUnload()"><ion-icon name="pause"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
