<ion-tabs tabsHighlight="true">
  <ion-tab [root]="homePageRoot" color="danger" tabTitle="Home" tabIcon="c-home"></ion-tab>
  <ion-tab [root]="messagePageRoot" tabTitle="Message" tabIcon="mail"></ion-tab>
  <ion-tab [root]="toolsPageRoot" tabTitle="Tools" tabIcon="c-tools"></ion-tab>
  <ion-tab [root]="speechPageRoot" tabTitle="Speech" tabIcon="c-speech"></ion-tab>
  <ion-tab [root]="contactPageRoot" tabTitle="Contact" tabIcon="c-contact"></ion-tab>
  <ion-tab [root]="mePageRoot" tabTitle="Me" tabIcon="c-me"></ion-tab>
</ion-tabs>