<ion-header>
  <ion-navbar>
    <ion-title>Message</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div (click)="sendSms(0)">
    <img src="assets/imgs/home.png" (click)="sendSms(0)" style="width:50%;">
  </div>

  <div (click)="sendSms(1)">
    <img src="assets/imgs/alert.png" style="width:50%;">
  </div>


  <div (click)="sendSms(2)">
    <img src="assets/imgs/danger.png" style="width:50%;">
  </div>




</ion-content>