<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Contact List</h2>

  <ion-list>
    <ion-item-sliding *ngFor="let contact of contacts; let i = index">
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <h2>{{contact.contactName}}</h2>
        <p>{{contact.contactNumber}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="mail"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary" (tap)="editContact(i)">
          <ion-icon name="pencil"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
