page-home {
    .scroll-content{
        display: flex;
        padding: 0 !important;
    }
    .alert-overlay, .danger-overlay{
        background:#E1F5FE;
        height: 1px;
        width: 1px;
        border-radius: 50%;
        position: fixed;
        transition: all 10ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }
    .alert-container{
        flex:1;
        // background: #FBC02D;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .alert-btn{
        height: 15em;
        width: 15em;
        z-index: 5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        svg{
            path {
                fill: #FFF;
            }
            height: 9em;
        }
        span{
            color:#fff;
            font-size: 2em;
        }
    }
    .dangerState{
        height: 200vh;
        width: 200vh;
        background:#FF1744;
        transition: all 2s cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }
    .safeState {
        height: 200vh;
        width: 200vh;
        background:#FFF;
        transition: all 2s cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }

    .neutralMode{
        span{
            color: #000;
        }
        svg path{
            fill: #000
        }
    }

    .location-container{
        color: #fff;

        padding: 16px;
        .location-message {
            display: block;
        }
        .locations{
            font-size: 0.8em;
            display: inline;
            z-index: 10;
        }
        flex-direction: column;
        position: absolute;
        bottom: 0px;
        background:#FF1744;
    }
}
