// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, custom-red: #ff1744);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
@font-face {
    font-family: "icomoon";
    src: url("../assets/fonts/icomoon.eot?j5nf7j");
    src: url("../assets/fonts/icomoon.eot?j5nf7j#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?j5nf7j") format("truetype"), url("../assets/fonts/icomoon.woff?j5nf7j") format("woff"), url("../assets/fonts/icomoon.svg?j5nf7j#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"] {
    @extend .ion;
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

@mixin makeIcon($arg,
$val) {
    .ion-ios-#{$arg}:before,
    .ion-ios-#{$arg}-circle:before,
    .ion-ios-#{$arg}-circle-outline:before,
    .ion-ios-#{$arg}-outline:before,
    .ion-md-#{$arg}:before,
    .ion-md-#{$arg}-circle:before,
    .ion-md-#{$arg}-circle-outline:before,
    .ion-md-#{$arg}-outline:before {
        content: $val;
        font-size: 26px;
    }
}

@include makeIcon(c-contact,
"\e904");
@include makeIcon(c-me,
"\e900");
@include makeIcon(c-home,
"\e901");
@include makeIcon(c-tools,
"\e902");
@include makeIcon(c-speech,
"\e903");
$tabs-md-tab-icon-color-active: map-get($colors,
custom-red);
$tabs-md-tab-text-color-active: map-get($colors,
custom-red);
$tabs-md-tab-border-color-active: map-get($colors,
custom-red);
.tabs-md[tabsHighlight="true"] .tab-highlight {
    background-color: map-get($colors, custom-red) !important;
}
