<ion-header>
  <ion-navbar color="custom-red">
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="qrContainer">
    <qrcode [qrdata]="encryptMe" [size]="256" [level]="'M'"></qrcode>
  </div>
  <h2 text-center>{{_profile.firstName}} {{_profile.lastName}}</h2>
</ion-content>
