<ion-content overflow-scroll="false">
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide padding>
      <h1>Welcome to SPECIALERT</h1>
      <p>
        Pariatur est eiusmod qui ut laborum Lorem adipisicing fugiat sit aute consectetur amet ipsum laborum.
      </p>
      <button ion-button color="custom-red" block round (tap)="slideNext()">Proceed</button>

    </ion-slide>
    <ion-slide padding>
      <h1>Register your device</h1>
      <img class="on-board-imgs" src="assets/imgs/mobile-phone.svg" alt="mobile">
      <p>
        Pariatur est eiusmod qui ut laborum Lorem adipisicing fugiat sit aute consectetur amet ipsum laborum.
      </p>
      <button ion-button color="custom-red" block round (tap)="registerDeviceId()">Get Device ID</button>
    </ion-slide>
    <ion-slide>
      <h1>Enter Default Contact</h1>
      <ion-list>
        <ion-item>
          <ion-label floating>Contact Name</ion-label>
          <ion-input type="text" [(ngModel)]="contactName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Contact Number</ion-label>
          <ion-input type="text" [(ngModel)]="contactNumber"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button color="custom-red" block round (tap)="saveContact()">Save</button>

        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <h1>Enter your name</h1>
      <ion-list>

        <ion-item>
          <ion-label floating>First Name</ion-label>
          <ion-input type="text" [(ngModel)]="firstName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button color="custom-red" block round (tap)="storeUserFullName()">Save</button>

        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
