page-onboard {
    ion-slide {
        h1 {
            color: #ff1744;
            margin-bottom: 2em;
        }
        .on-board-imgs {
            height: 10em !important;
        }
    }
    .scroll-content {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
}
