<ion-header>
    <ion-navbar color="custom-red">
      <ion-title>
        Text to speech
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list padding>
        <ion-item>
            <ion-label floating>Input message</ion-label>
            <ion-textarea rows="2"  [(ngModel)]="customSpeech"></ion-textarea>
        </ion-item>
    </ion-list>
    <div padding>
        <button ion-button (tap)="speakCustomMessage()" color="custom-red" >Speak</button>
    </div>
    <ion-list>

      <ion-list-header>Text to speech alternatives</ion-list-header>
      <ion-item *ngFor="let speech of preDefinedSpeech" (tap)="triggerTTS(speech.speech)">
        {{speech.text}}
      </ion-item>
    </ion-list>
  </ion-content>
